$color-primary: #FF004D;
$color-secondary: #FF175D; //lighter
$color-third: #BA0039; //darker

$grey: #ccc;
$grey-light1: #d9d9d9;
$grey-light2: #dedede;
$grey-light3: #f2f2f2;
$grey-light4: #f4f4f4;

$grey-dark: #333;
$grey-dark1: #777; //lighter
$grey-dark2: #999; //most lighter


